.div {
    column-width: 450px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.ProductBox {
    border: 2px solid var(--primary-color);
    margin: 15px;
    /* width: 400px;<br></br> */
    justify-content: center;
    /* display: flex;
    flex-flow: column; */
}

.ProductBox a {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.thumbnailImage {
    max-width: 350px;
}
