.firstdiv {
    box-sizing: border-box;
}

.div {
    column-width: 250px;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    align-items: center;
    /* -webkit-box-decoration-break: clone; */
    /* -o-box-decoration-break: clone; */
    box-decoration-break: clone !important;
}

.ProductBox {
    border: 2px solid var(--primary-color);
    padding: 4px;
    font-size: 20px;
    margin: 15px;
    width: 250px;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}

.thumbnailImage {
    max-width: 250px;
}
