.ProductBox {
    border: 2px solid var(--primary-color);
    align-items: center;
    max-width: 700px;
}

.div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

img {
    max-width: 400px;
    /* justify-content: center; */
    margin: 0 auto;
}

.div p {
    align-self: center;
    justify-content: center;
    max-width: 400px;
    display: flex;
    flex-flow: row wrap;
    font-size: 20px;
}

.ProductDetailPage {
    padding-bottom: 80px;
}