.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif, 'Indie Flower', cursive, 'Helvetica';
}

.App-header {
  background-color: var(--primary-color);
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Indie Flower', cursive;
}

.App-header a {
  text-decoration: none;
  color: var(--text-color);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: var(--text-color);
}