.Container {
    background: var(--primary-color);
}

.Nav {
    background: var(--primary-color);
    list-style: none;
    display: inline;
    display: flex;
    flex-wrap: row;
    justify-content: space-around;
    margin: 0 auto;
    padding: 15px;
    max-width: 800px;
}

.Nav li:hover, .Dropdown a:hover {
    background: yellow;
}

.Dropdown a {
    max-height: 35px;
}

.Nav li, .Nav button a, .Dropdown a {
    padding: 10px 20px;
    align-self: center;
    margin: 0 auto;
    font-size: 15px;
}

button {
    background: var(--primary-color);
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

.Menu {
    display: inline-block;
    line-height: 120%;
}

.Dropdown {
    display: none;
}

.Menu:hover .Dropdown {
    display: block;
}



@media screen and (max-width: 600px) {
    .Nav, .Menu, .Dropdown {
      display: flex;
      flex-flow: column;
    }
    .Profilelink {
        display: none;
    }

  }
